* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
}

html, body {
  height: 100%;
}

.app-container {
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text-color);
}

:root {
  --background: #ffffff;
  --text-color: #333333;
}

[data-theme='dark'] {
  --background: #333333;
  --text-color: #ffffff;
}